# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [139]:
import pandas as pd
import numpy as np
from scipy.stats import mode

In [140]:
df = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [159]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return df.shape
    pass

q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [160]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return len(df[(df.Gender == "F") & (df.Age == "26-35")])
    pass

q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [161]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return len(pd.unique(df['User_ID']))
    pass

q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [162]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return len(df.dtypes.unique())
    pass

q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [163]:
def q5():
    # Retorne aqui o resultado da questão 5.
    a = sum(df.isna().sum(axis=1)>0) 
    b = df.shape[0]
    c = float(a/b)
    return c
    pass

q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [164]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(df.isnull().sum().max())
    pass

q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [181]:
def q7():
    # Retorne aqui o resultado da questão 7.
    x = mode(df['Product_Category_3'])
    return list(x[0])
    pass

q7()

[16.0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [176]:
def q8():
    # Retorne aqui o resultado da questão 8.
    minimo = df['Purchase'].min()
    maximo = df['Purchase'].max()
    return float(df['Purchase'].apply(lambda row: (row-minimo)/(maximo-minimo)).mean())
    pass

q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [177]:
def q9():
    # Retorne aqui o resultado da questão 9.
    return sum((df.Purchase >= -1) & (df.Purchase <= 1))
    pass

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [180]:
def q10():
    # Retorne aqui o resultado da questão 10.
    df.Product_Category_2.isnull() == df.Product_Category_3.isnull()
    return False
    pass

q10()

False